header {
  justify-content: center;
  text-align: center;
  background-color: #6372BB;
}

header h1 {
  margin: 0;
  padding: 15px;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body h2 {
  text-align: center;
}

form { 
  margin: auto; 
  text-align: center;
  padding-bottom: 20px;
  width:150px;
}

input {
  margin-bottom: 10px;
}

.task-table {
  margin: auto;
  table-layout: fixed;
}

th.task-name {
  width: 110px;
}

th.due-time {
  width: 50px;
}

th.due-date {
  width: 100px;
}

th.edit, th.delete {
  width: 50px;
}

.display-date, .display-time, .edit, .delete {
  text-align: center;
}