/*header {
  justify-content: center;
  text-align: center;
  background-color: #6372BB;
}

header h1 {
  margin: 0;
  padding: 15px;
  color: white;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body h2 {
  text-align: center;
}

form { 
  margin: auto; 
  text-align: center;
  padding-bottom: 20px;
  width:150px;
}

input {
  margin-bottom: 10px;
}

.task-table {
  margin: auto;
  table-layout: fixed;
}

th.task-name {
  width: 110px;
}

th.due-time {
  width: 50px;
}

th.due-date {
  width: 100px;
}

th.edit, th.delete {
  width: 50px;
}

.display-date, .display-time, .edit, .delete {
  text-align: center;
}

.tasks{
  margin: auto;
  text-align: center;
}

.btn{
  background-color: white;
            border: 2px solid black;
            color: green;
            padding: 5px 10px;
            text-align: center;
            display: inline-block;
            font-size: 20px;
            margin: 10px 30px;
            cursor: pointer;
}
*/

:root{
  --primary-color: #AFE1AF;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

i {
  font-family: FontAwesome !important;
}

html, 
body{
  height:100%;
}

body{
  font-family: 'Roboto',sans-serif;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  overflow:none;
}

.home-header{
  background-color: var(--primary-color);
  box-shadow: 3px 3px 10px #888;
}

.home-header .container{
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.home-header .logo{
  width:170px;
}

form.search input[type='text']{
  padding: 7px;
  width: 250px;
  border: 0;
  border-radius: 2px;
}

form.search button{
  float:right;
  margin-left: 5px;
  padding:7px;
  color: white;
  border:0;
  border-radius: 2px;
  border-left:none;
  cursor:pointer;
  background: #013220;
}

form.search button:hover{
  background: #013220;
}
form.search::after{
  content: "";
  clear: both;
  display: table;
}

.grid{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
}

.grid .item{
  display: flex;
  flex-direction: column;
  border: 1px #ccc solid;
  padding: 10px;
  box-shadow: 1px 1px 2px #ccc;
}

.grid .item h4{
  margin-bottom: 5px;
}

.grid .item a{
  color: black;
  text-decoration: none;
}

.grid .item p{
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.grid .item img{
  width: 30px;
  align-self: flex-end;
}

#upcoming-task {
  margin: 10px;
  margin-top: 5px;
}

.task-table {
  margin: auto;
  margin-bottom: 10px;
  border-collapse: collapse;
}

thead{
  border-bottom: 1px solid black;
}

td {
  padding-top: 5px;
}

.main-display-name, .task-name {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.display-name {
  max-width: 110px;
}

.display-time, .due-time {
  width: 80px;
  text-align: center;
}

.display-date, .due-date {
  width: 100px;
  text-align: center;
}

.display-tag {
  width: 90px;
  text-align: right;
}

.task-cat {
  width: 90px;
  text-align: center;
}

.del-btn, .edit-btn, .edit, .delete {
  width: 40px;
  text-align: center;
}

.edit-img, .del-img {
  width: 20px;
  height: 20px;
}

.home-footer {
  background: #f4f4f4;
  color: #444;
  padding:10px;
  font-size: 14px;
  margin-top: 10px;
  flex-shrink: 0;
}

.home-footer ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}

.home-footer ul li{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-footer ul li i {
  font-size: 22px;
}
.home-footer a{
  color:#013220;
  text-decoration: none;
}