{% extends "base.html" %} {% block header %}
<header class="home-header">
  <div class="container">
    <img src="/static/icons/logo.png" alt="" class="logo" />
  </div>
</header>
{% endblock %} {% block content %}
<form action="{{ url_for('create_record') }}" method="POST" role="form">
  <div>
    <input type="text" name="name" placeholder="Add task?" /> <br />
    <input type="date" name="task-date" /> <br />
    <input type="time" name="task-time" /> <br />
    <select name="task-tag" id="tag">
      <option value="" disabled selected hidden>Choose a category...</option>
      <option value="homework">Homework</option>
      <option value="exam">Exam</option>
      <option value="interview">Interview</option>
      <option value="misc">Misc.</option></select
    ><br />
    <button type="submit">Add Task</button>
  </div>
</form>
{% endblock %}
