{% extends "base.html" %} {%block header %}
    <body>
      <header class="home-header">
        <div class="container">
          <img src="/static/icons/logo.png" alt="" class="logo" />
        </div>
      </header>
        <div id="container">
            <div id="header">
              <div id="monthDisplay"></div>
            </div>
            <div class="calendarSelect">
              <select id="calendarYear">
                <option selected></option>
                <option></option>
              </select>
              <select id="calendarMonth">
                <option value="0"></option>
                <option value="1"></option>
                <option value="2"></option>
                <option value="3"></option>
                <option value="4"></option>
                <option value="5"></option>
                <option value="6"></option>
                <option value="7"></option>
                <option value="8"></option>
                <option value="9"></option>
                <option value="10"></option>
                <option value="11"></option>
              </select>
            </div>
      
            <div id="calendar">
              <div class ="weekday">Sun</div>
              <div class ="weekday">Mon</div>
              <div class ="weekday">Tue</div>
              <div class ="weekday">Wed</div>
              <div class ="weekday">Thu</div>
              <div class ="weekday">Fri</div>
              <div class ="weekday">Sat</div>
            </div>
          </div>
        <script>
          const events = "{{events|safe}}"
        </script>
        <script src = "{{ url_for('static', filename='js/calendar.js') }}"></script>
    </body>
    {% endblock %}

