<!DOCTYPE html>
<html lang="en">
    <head>
        <link 
        rel="stylesheet"
        href="{{ url_for('static', filename='css/styles.css') }}"/>
        <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View modes</title>
    </head>
    <body>
        <div class="tasks">
            <a href="{{ url_for('show_tasks') }}">
                <button class="btn">
                    Task List
                </button>
            </a>
            <a href="{{ url_for('show_calendar') }}">
                <button class="btn">
                    Calendar View
                </button>
            </a>
        </div>
    </body>
</html>