<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Scheduling App</title>
  </head>
  <body>
    <header>
      <h1>App Name</h1>
    </header>
    <main>
      <h2>Your tasks</h2>
      <!-- Prompt user to enter a new task -->
      <form action="/add" method="put">
        <div>
          <input type="text" name="title" placeholder="Add task?" /> <br />
          <input type="date" name="task-date" /> <br />
          <input type="time" name="time" /> <br />
          <button type="submit">Add Task</button>
        </div>
      </form>
      <!-- Display tasks -->
      <div class="task-table">
        <table class="table">
          <!-- Table header -->
          <thead>
            <tr>
              <th class="task-id">ID</th>
              <th class="task-name">Task</th>
              <th class="due-time">Time</th>
              <th class="due-date">Date</th>
              <th class="edit">Edit</th>
              <th class="delete">Delete</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            {% for event in events %}
            <tr>
              <td>{{ event["id"] }}</td>
              <td>{{ event["name"] }}</td>
              <td>{{ event["time"] }}</td>
              <td>{{ eventt["date"] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
