<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task Scheduling App</title>
  </head>
  <body>
    <header>
      <h1>App Name</h1>
    </header>
    <main>
      <h2>Your tasks</h2>
      <!-- Display tasks -->
      <div class="task-table">
        <table class="table">
          <!-- Table header -->
          <thead>
            <tr>
              <th class="task-name">Task</th>
              <th class="due-time">Time</th>
              <th class="due-date">Date</th>
              <th class="edit">Edit</th>
              <th class="delete">Delete</th>
            </tr>
          </thead>
          <!-- Table body -->
          <tbody>
            {% for event in events %}
            <pre>{{event}}</pre>
            <tr>
              <td class="display-name">{{ event["name"] }}</td>
              <td class="display-time">{{ event["time"] }}</td>
              <td class="display-date">{{ event["date"] }}</td>
              <!-- Delete and Edit button -->
              <td class="edit">
                <a
                  href="{{ url_for('update_record', event_name=event['name']) }}"
                >
                  <input type="submit" name="edit_bun" value="Edit" />
                </a>
              </td>
              <td class="delete">
                <a
                  href="{{ url_for('delete_record', event_name=event['name']) }}"
                >
                  <input type="submit" name="delete-btn" value="Del" />
                </a>
              </td>
            </tr>

            {% endfor %}
          </tbody>
        </table>
        <!-- Delete all button -->
        <a id="delete-all-btn" href="{{ url_for('delete_all') }}">Delete All</a>
        <!-- Prompt user to enter a new task -->
        <form action="{{ url_for('create_record') }}" method="POST" role="form">
          <div>
            <input type="text" name="name" placeholder="Add task?" /> <br />
            <input type="date" name="task-date" /> <br />
            <input type="time" name="task-time" /> <br />
            <button type="submit">Add Task</button>
          </div>
        </form>
      </div>
    </main>
    <!-- <script type="text/javascript">
      const events = "{{events}}"
    </script> -->
    <script src = "{{ url_for('static', filename='js/index.js') }}"></script>
  </body>
</html>
